# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Sublime Text 3
sublime-text.user/*.crt
sublime-text.user/Package Control.cache
sublime-text.user/Package Control.merged-ca-bundle
sublime-text.user/Package Control.system-ca-bundle
sublime-text.user/Package Control.user-ca-bundle
sublime-text.user/Package Control.last-run
